{% extends "base_generic.html" %}

{% block title %}
    <title>Yacht-Shop - About Page</title>
{% endblock %}

{% load static %}
    {% block one %}
    <section class="bg-success py-5">
        <div class="container">
            <div class="row align-items-center py-5">
                <div class="col-md-8 text-white">
                    <h1>About Project</h1>
                    <p>
                        <strong>Yacht-Shop</strong> (or Y-Shop) is created by <i>Roman Ivakhiv</i>.
                    </p>
                    <ul>
                        Technologies used:
                        <li>Python 3.11</li>
                        <li>Django 4.2</li>
                        <li>Django REST framework</li>
                        <li>PostgreSQL 15</li>
                    </ul>
                    <p>
                        HTML template is 100% free and provided by TemplateMo website.
                    </p>
                    <p>
                        Some CSS code was writen locally to adopt for a new features.
                    </p>
                    <p>
                        A new Javascript function was writen, which sends AJAX request to the endpoint.
                    </p>
                    <p>
                        Web site is running on Digital Ocean IaaS using Ubuntu 20.04, Gunicorn and Nginx.
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="{% static 'img/small_photo.jpg' %}" alt="About Hero">
                </div>
            </div>
        </div>
    </section>
    <!-- Close Banner -->
    {% endblock one %}
