{% extends "base_generic.html" %}

{% block title %}
<title xmlns:style="http://www.w3.org/1999/xhtml">Yacht Shop - Card Page</title>
{% endblock %}

{% load static %}

{% block one %}
    <!-- Open Content -->
    <section class="bg-light">
        <div class="container pb-5">
            <div class="row">
                <!-- col end -->
                <!--col-lg-7 mt-5-->
                <div class="my-class" style="margin-top: 25px;">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="h2">{{ cart }}</h1>
                            <table style="font-size: 15px; width: 100%; border-collapse: collapse;">
                                <tr>
                                    <th style="border: 1px solid black; padding: 8px; text-align: center;">№</th>
                                    <th style="border: 1px solid black; padding: 8px; text-align: center;">Item name</th>
                                    <th style="border: 1px solid black; padding: 8px; text-align: center;">Price</th>
                                    <th style="border: 1px solid black; padding: 8px; text-align: center;">Quantity</th>
                                    <th style="border: 1px solid black; padding: 8px; text-align: center;">Total price</th>
                                    <th></th>
                                </tr>
                                {% for item in cart_items %}
                                <tr>
                                    <td style="border: 1px solid black; padding: 8px; text-align: center;">{{ forloop.counter }}
                                        <span style="display: none;" id="cartlineitem-id">{{ item.id }}</span></td>
                                    <td style="border: 1px solid black; padding: 8px; text-align: center;">{{ item.yacht }}</td>
                                    <td style="border: 1px solid black; padding: 8px; text-align: center;">{{ item.yacht.price }}</td>
                                    <td style="border: 1px solid black; padding: 8px; text-align: center;">
                                        <form method="post">
                                        <div class="col-auto">
                                                <ul class="list-inline pb-3" style="margin: 0px; padding: 0px">
                                                    {% csrf_token %}
                                                    {{ form }}
                                                    <li class="list-inline-item"><span class="btn btn-success"
                                                                                       onclick="decreaseQuantity({{ item.id }}, {{ item.quantity }})"
                                                                                       id="btn-minus">-</span></li>
                                                    <li class="list-inline-item"><span class="badge bg-secondary" id="var-value">{{ item.quantity }}</span></li>
                                                    <li class="list-inline-item"><span class="btn btn-success"
                                                                                       onclick="increaseQuantity({{ item.id }}, {{ item.quantity }})"
                                                                                       id="btn-plus">+</span></li>
                                                </ul>
                                            </div>
                                        </form><span style="display: none" id="var-value-my">{{ item.quantity }}</span></td>
                                    <td style="border: 1px solid black; padding: 8px; text-align: center;">{{ item.total_price }}</td>
                                    <td style="text-align: center;"><button class="btn btn-success delete-button"
                                                data-line-item-id="{{ item.id }}">Delete</button></td>
                                </tr>
                                {% endfor %}
                            </table>

                            <form action="" method="GET">
                                <br>
                                <h6>
                                    Final price: {{ final_price }}
                                </h6>
                                </br>
                                <input type="hidden" name="product-title" value="Activewear">
                                <div class="row pb-3">
                                    <div class="col d-grid">
                                        <button type="submit" class="btn btn-success btn-lg" name="submit" value="buy">Buy</button>
                                    </div>
                                    <div class="col d-grid">
                                        <button type="submit" class="btn btn-success btn-lg" name="submit" value="addtocard">Cancel</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Close Content -->
    {% endblock one %}

    {% block more_js %}
    <script src="{% static 'js/custom.js' %}"></script>
    {% endblock more_js %}
</body>
<!--<a target="_blank" href="https://icons8.com/icon/99933/delete">Delete</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->
</html>