{% extends "base_generic.html" %}

{% block title %}
    <title>Yacht Shop - Index Page</title>
{% endblock %}

{% load static %}

{% block one %}
    <!-- Open Content -->
    <section class="bg-light">
        <div class="container pb-5">
            <div class="row">
                <div class="col-lg-5 mt-5">
                    <div class="card mb-3">
                        <img class="card-img img-fluid" src="{{ yacht.yacht_image.first.image.url }}" alt="Card image cap" id="product-detail">
                    </div>
                    <div class="row">
                        <!--Start Controls-->
                        <div class="col-1 align-self-center">
                            <a href="#multi-item-example" role="button" data-bs-slide="prev">
                                <i class="text-dark fas fa-chevron-left"></i>
                                <span class="sr-only">Previous</span>
                            </a>
                        </div>
                        <!--End Controls-->
                        <!--Start Carousel Wrapper-->
                        <div id="multi-item-example" class="col-10 carousel slide carousel-multi-item" data-bs-ride="carousel">
                            <!--Start Slides-->
                            <div class="carousel-inner product-links-wap" role="listbox">

                                <!--First slide-->
                                {% for i in '123' %}
                                    {% if forloop.counter == 1 %}
                                        <div class="carousel-item active">
                                    {% else %}
                                        <div class="carousel-item">
                                    {% endif %}
                                            <div class="row">
                                                {% for image in yacht.yacht_image.all %}
                                                    {% if forloop.parentloop.counter == 1 and forloop.counter <= 3 %}
                                                        <div class="col-4">
                                                            <a href="#">
                                                                <img class="card-img img-fluid" src="{{ image.image.url }}" alt="Product Image 1">
                                                            </a>
                                                        </div>
                                                    {% elif forloop.parentloop.counter == 2 and forloop.counter > 3 and forloop.counter <= 6 %}
                                                        <div class="col-4">
                                                            <a href="#">
                                                                <img class="card-img img-fluid" src="{{ image.image.url }}" alt="Product Image 1">
                                                            </a>
                                                        </div>
                                                    {% elif forloop.parentloop.counter == 3 and forloop.counter > 6%}
                                                        <div class="col-4">
                                                            <a href="#">
                                                                <img class="card-img img-fluid" src="{{ image.image.url }}" alt="Product Image 1">
                                                            </a>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                {% endfor %}
                                <!--/.First slide-->
                            </div>
                            <!--End Slides-->
                        </div>
                        <!--End Carousel Wrapper-->
                        <!--Start Controls-->
                        <div class="col-1 align-self-center">
                            <a href="#multi-item-example" role="button" data-bs-slide="next">
                                <i class="text-dark fas fa-chevron-right"></i>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <!--End Controls-->
                    </div>
                </div>
                <!-- col end -->
                <div class="col-lg-7 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="h2">{{ yacht }}</h1>
                            <p class="h3 py-2">{{ yacht.price }}</p>
                            <p>{{ yacht.location }}</p>
                            <h6>Category:</h6>
                            <p>{{ yacht.category.all|join:", " }}</p>
                            <h6>Basics:</h6>
                            <ul class="list-unstyled pb-3">
                                {% for field, value in yacht.all_basic_fields %}
                                    {% if value is not None %}
                                        <li>{{ field }}: {{ value }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>

                            <h6>Description:</h6>
                            <p>{{ yacht.description }}</p>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>Contact Info :</h6>
                                </li>
                                <li class="list-inline-item">
                                    <p class="text-muted"><strong>{{ yacht.contact_info }}</strong></p>
                                </li>
                            </ul>

                            <h6>Specification:</h6>
                            <ul class="list-unstyled pb-3">
                                {% for specification in yacht.specifications_set.all %}
                                    {% for field, value in specification.all_fields %}
                                        {% if value is not None %}
                                            <li>{{ field }}: {{ value }}</li>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </ul>

                            <!-- Render form for adding yacht to cart -->
                            <form method="post">
                                <div class="col-auto">
                                        <ul class="list-inline pb-3">
                                            Quantity
                                            {% csrf_token %}
                                            {{ form.as_ul }}
                                            <li class="list-inline-item"><span class="btn btn-success" id="btn-minus"
                                                                            onclick="decreaseQuantityDisplay()">-</span></li>
                                            <li class="list-inline-item"><span class="badge bg-secondary" id="var-value">1</span></li>
                                            <li class="list-inline-item"><span class="btn btn-success" id="btn-plus"
                                                                            onclick="increaseQuantityDisplay()">+</span></li>
                                        </ul>
                                    </div>

                                <button type="submit" class="btn btn-success btn-lg" name="submit" value="addtocard">Add To Cart</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Close Content -->
    {% endblock one %}

    {% block more_js %}
    <!-- Start Slider Script -->
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script>
        $('#carousel-related-product').slick({
            infinite: true,
            arrows: false,
            slidesToShow: 4,
            slidesToScroll: 3,
            dots: true,
            responsive: [{
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 3
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 3
                    }
                }
            ]
        });
    </script>
    <script>
        function increaseQuantityDisplay() {
          var quantityDisplay = document.getElementById('var-value');
          var currentQuantity = parseInt(quantityDisplay.textContent);
          currentQuantity = currentQuantity + 1;
          document.getElementById("product-quantity").value = currentQuantity;
        }

        function decreaseQuantityDisplay() {
          var quantityDisplay = document.getElementById('var-value');
          var currentQuantity = parseInt(quantityDisplay.textContent);
          if (currentQuantity > 1) {
            currentQuantity = currentQuantity - 1;
          }
          document.getElementById("product-quantity").value = currentQuantity;
        }
    </script>
    <!-- End Slider Script -->
    {% endblock more_js %}

</body>

</html>